div{
  margin: auto; 
  margin-bottom: 3%;
  margin-top: 3%;
}

p{
  padding-top: 0.5%;
  color: white;
}
#detail{
  background-color: rgba(59, 59, 59, 0.521);
  background-image: linear-gradient(rgb(0, 0, 0), rgb(48, 48, 48));
}
#bg{
  margin-top: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


