img{
    cursor: pointer;
    height:360px;
  }
div{
  color:rgb(58, 55, 55)
  }
#card{
  width: 15rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(36, 35, 35);
  border-bottom: none;
  padding-bottom: 6px;
}
#card-title{
  height:60px;
}
h6{
  text-align: center;
  text-size-adjust: true;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}
p{
  text-align: center;
  text-size-adjust: true;
  color: rgb(148, 148, 148);
}
a { text-decoration: none; }
.zoom {
  transition: transform .2s; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.07); 
}